<%= render :partial => "view", :object => @damage_type %>

<h2>Weapon - Damage Levels:</h2>
<%= render :partial => 'equipment_pieces/header' %>
  <% for mod in @weapon_pieces %>
    <% piece = EquipmentPiece.find_by_id(mod.equipment_piece_id) %>
    <%= render :partial => 'equipment_pieces/view', :object => piece %>
  <% end %>
<%= render :partial => 'equipment_pieces/footer' %>
<br>
<h2>Armor - Resistances:</h2>
<%= render :partial => 'equipment_pieces/header' %>
  <% for mod in @armor_pieces %>
    <% piece = EquipmentPiece.find_by_id(mod.equipment_piece_id) %>
    <%= render :partial => 'equipment_pieces/view', :object => piece %>
  <% end %>
<%= render :partial => 'equipment_pieces/footer' %>
