<p>
  <b>List Name:</b>
  <%=h @equipment_piece_list.name %>
</p>

<p>
  <b>Owner:</b>
  <%=h AdminUser.find_by_id(@equipment_piece_list.admin_user_id).login %>
</p>

<h2>Pieces:</h2>
<%= render :partial => 'equipment_pieces/header' %>


<table id="eq_piece_table">
  <%= render :partial => 'equipment_pieces/list_view', :collection => @eq_pieces %>
<%= render :partial => 'equipment_pieces/footer' %>
<br>
<% if logged_in? %>
<%= link_to 'Edit', edit_equipment_piece_list_path(@equipment_piece_list) %> |
<%= link_to 'Back', equipment_piece_lists_path %>
<% end %>
