<table>
  <tr>
    <th>Name</th>
    <th>Guild type</th>
    <th>Location</th>
  </tr>

  <% for guild in @guilds %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%= render :partial => 'view', :object => guild %></td>
    <td><%=h GuildType.find_by_id(guild.guild_type_id).name %></td>
    <td><%=h guild.location %></td>
    <td><%= link_to 'Show', guild %></td>
    <td><%= link_to 'Edit', edit_guild_path(guild) %></td>
    <td><%= link_to 'Destroy', guild, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<%= will_paginate @guilds %>

<br>

<%= link_to 'New', new_guild_path %>
