<h1>Available Databases</h1>

<%= link_to 'Alignment Levels', alignment_levels_path %><br>
<%= link_to 'Armor Class Levels', armor_class_levels_path %><br>
<%= link_to 'Damage Levels', damage_levels_path %><br>
<%= link_to 'Damage Types', damage_types_path %><br>
<%= link_to 'Equipment Lists', equipment_piece_lists_path %><br>
<%= link_to 'Equipment Monsters', equipment_monsters_path %><br>
<%= link_to 'Equipment Pieces', equipment_pieces_path %><br>
<%= link_to 'Guilds', guilds_path %><br>
<%= link_to 'Guild Types', guild_types_path %><br>
<%= link_to 'Hunger Levels', hunger_levels_path %><br>
<%= link_to 'Races', races_path %><br>
<%= link_to 'Slots', slots_path %><br>
<%= link_to 'Skills', skills_path %><br>
<%= link_to 'Spells', spells_path %><br>
<%= link_to 'Stat Levels', stat_levels_path %><br>
<%= link_to 'Stats', stats_path %><br>
<%= link_to 'Weapon Damage Levels', weapon_damage_levels_path %><br>
<br>
<% if session[:user] %>
  <%= link_to 'Logout', :controller => 'admin_user', :action => 'logout' %>
<% else %>
  <%= link_to 'Login', :controller => 'admin_user', :action => 'login' %>
<% end %>

<br>
<br>

<h2>New EQ:</h2>
<table id="new_eq_piece_table">
  <tr>
    <th>Name</th>
    <th>Class</th>
    <th>Slots</th>
    <th>Stats</th>
    <th>Tp Value</th>
    <th>Location</th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => 'equipment_pieces/view', :collection => @new_pieces %>
</table>

<h2>Updated EQ:</h2>
<table id="updated_eq_piece_table">
  <tr>
    <th>Name</th>
    <th>Class</th>
    <th>Slots</th>
    <th>Stats</th>
    <th>Tp Value</th>
    <th>Location</th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => 'equipment_pieces/view', :collection => @updated_pieces %>
</table>

<h2>New EQ Mobs:</h2>
<ul>
  <% for mob in @new_mobs %>
  <li class="<%= cycle("even", "odd") -%>">
    <%= link_to mob.name, mob %> <%= link_to('(E)', edit_equipment_monster_path(mob)) if logged_in? %> <%= link_to('(X)', mob, :confirm => 'Are you sure?', :method => :delete) if logged_in? %>
  </li>
  <% end %>
</ul>

<h2>Updated EQ Mobs:</h2>
<ul>
  <% for mob in @updated_mobs %>
  <li class="<%= cycle("even", "odd") -%>">
    <%= link_to mob.name, mob %> <%= link_to('(E)', edit_equipment_monster_path(mob)) if logged_in? %> <%= link_to('(X)', mob, :confirm => 'Are you sure?', :method => :delete) if logged_in? %>
  </li>
  <% end %>
</ul>
