<p>
  <b>Equipment monster:</b>
  <%=h @equipment_mob_strategy.equipment_monster_id %>
</p>

<p>
  <b>Greater tank prot:</b>
  <%=h @equipment_mob_strategy.greater_tank_prot_id %>
</p>

<p>
  <b>Lesser tank prot:</b>
  <%=h @equipment_mob_strategy.lesser_tank_prot1_id %>
</p>

<p>
  <b>Lesser tank prot:</b>
  <%=h @equipment_mob_strategy.lesser_tank_prot2_id %>
</p>

<p>
  <b>Greater party prot:</b>
  <%=h @equipment_mob_strategy.greater_party_prot_id %>
</p>

<p>
  <b>Lesser party prot:</b>
  <%=h @equipment_mob_strategy.lesser_party_prot1_id %>
</p>

<p>
  <b>Lesser party prot:</b>
  <%=h @equipment_mob_strategy.lesser_party_prot2_id %>
</p>

<p>
  <b>Additional prot info:</b>
  <%=h @equipment_mob_strategy.additional_prot_info %>
</p>

<p>
  <b>Fight notes:</b>
  <%=h @equipment_mob_strategy.fight_notes %>
</p>

<p>
  <b>Walkthrough:</b>
  <%=h @equipment_mob_strategy.walkthrough %>
</p>

<p>
  <b>Quest mob:</b>
  <%=h @equipment_mob_strategy.quest_mob %>
</p>

<%= link_to 'Edit', edit_equipment_mob_strategy_path(@equipment_mob_strategy) %> |
