<% list ||= nil %>
<% list_type ||= nil %>

<% if list and list_type.name == 'TP' %>
  <% if EquipmentPieceListEntry.find_by_equipment_piece_id_and_equipment_piece_list_id(list_view.id, list.id) %>
    <tr class="in_current_list" id="<%= 'row_' + list_view.id.to_s %>">
  <% else %>
    <tr class="<%= cycle("even", "odd") -%>" id="<%= 'row_' + list_view.id.to_s %>">
  <% end %>
<% elsif logged_in? and session[:equipment_piece_list_id] and EquipmentPieceListEntry.find_by_equipment_piece_id_and_equipment_piece_list_id(list_view.id, session[:equipment_piece_list_id]) %>
  <tr class="in_current_list" id="<%= 'row_' + list_view.id.to_s %>">
<% else %>
  <tr class="<%= cycle("even", "odd") -%>" id="<%= 'row_' + list_view.id.to_s %>">
<% end %>

  <td><%= link_to list_view.name, list_view %></td>
  <td><%=h list_view.klass if list_view.klass and list_view.klass > 0 %></td>
  <td><%= slot_line(list_view) %></td>
  <td><%= stat_line(list_view) %></td>
  <td>
    <% if list_view.tp_value == -1 %>
    ?
    <% else %>
    <%=h list_view.tp_value %>
    <% end %>
  </td>
  <td><%= link_to list_view.equipment_monster.name, list_view.equipment_monster %></td>

  <% if logged_in? %>
     <% if session[:equipment_piece_list_id] %>
       <td><%= link_to_remote '(- List)', :complete => visual_effect(:fade, 'row_' + list_view.id.to_s), :url => { :controller => 'equipment_piece_lists', :action => 'remove_from_list', :equipment_piece_id => list_view.id, :list_id => session[:equipment_piece_list_id] } %></td>
     <% end %>
     <td><%= link_to 'Edit', edit_equipment_piece_path(list_view) %></td>
  <% end %>
</tr>
