<% list ||= nil %>
<% list_type ||= nil %>

<% if list and list_type.name == 'TP' %>
  <% if EquipmentPieceListEntry.find_by_equipment_piece_id_and_equipment_piece_list_id(view.id, list.id) %>
    <tr class="in_current_list">
  <% else %>
    <tr class="<%= cycle("even", "odd") -%>">
  <% end %>
<% elsif logged_in? and session[:equipment_piece_list_id] and EquipmentPieceListEntry.find_by_equipment_piece_id_and_equipment_piece_list_id(view.id, session[:equipment_piece_list_id]) %>
  <tr class="in_current_list">
<% else %>
  <tr class="<%= cycle("even", "odd") -%>">
<% end %>

  <td><%= link_to view.name, view %></td>
  <td><%=h view.klass if view.klass and view.klass > 0 %></td>
  <td><%= slot_line(view) %></td>
  <td><%= stat_line(view) %></td>
  <td>
    <% if view.tp_value == -1 %>
    ?
    <% else %>
    <%=h view.tp_value %>
    <% end %>
  </td>
  <td><%= link_to view.equipment_monster.name, view.equipment_monster %></td>

  <% if logged_in? %>
     <% if session[:equipment_piece_list_id] %>
       <td><%= link_to_remote '(+ List)', :url => { :controller => 'equipment_piece_lists', :action => 'add_to_list', :equipment_piece_id => view.id }, :complete => visual_effect(:highlight, 'current_eq_list', :duration => 0.5) %></td>
     <% end %>
     <td><%= link_to 'Edit', edit_equipment_piece_path(view) %></td>
  <% end %>
</tr>
