<tr class="<%= cycle("even", "odd") -%>">
  <td><%= link_to view.name, view %></td>
  <td><%=h view.klass if view.klass and view.klass > 0 %></td>
  <td><%= stat_line(view) %></td>
  <td>
    <% if view.tp_value == -1 %>
    ?
    <% else %>
    <%=h view.tp_value %>
    <% end %>
  </td>
  <td><%= link_to view.equipment_monster.name, view.equipment_monster %></td>

  <% if logged_in? %>
     <% if session[:equipment_piece_list_id] %>
       <td><%= link_to_remote '(+ List)', :url => { :controller => 'equipment_piece_lists', :action => 'add_to_list', :equipment_piece_id => view.id } %></td>
     <% end %>
     <td><%= link_to 'Edit', edit_equipment_piece_path(view) %></td>
  <% end %>
</tr>
