<ul>
  <% for mob in @equipment_mobs %>
    <li class="<%= cycle("even", "odd") -%>">
      <%= link_to mob.name, mob %>
    </li>
  <% end %>
  <% if @equipment_mobs.size > 0 %>
    <hr>
  <% end %>  
  <% for piece in @equipment_pieces %>
    <li class="<%= cycle("even", "odd") -%>">
      <%= link_to piece.name, piece %> - <%= stat_line(piece) %>
      <% if piece.tp_value == -1 %>
        (? tps)
      <% else %>
        (<%=h piece.tp_value %> tps)
      <% end %>
      [<%= link_to piece.equipment_monster.name, piece.equipment_monster %>]
      <% if logged_in? %>
        <% if session[:equipment_piece_list_id] %>
          <div align=right><%= link_to_remote('(+ List)', :url => { :controller => 'equipment_piece_lists', :action => 'add_to_list', :equipment_piece_id => piece.id }, :complete => visual_effect(:highlight, 'current_eq_list', :duration => 0.5, :startcolor => '#88ff88', :endcolor => '#000000')) %></div>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
