<table width="99%">
  <tr>
    <td width="50%" style="vertical-align:top;">
      <hr>
      <% slot_hash = armor_options %>
      Armors:<br>
      <% @counter = 0 %>
      <% @size = slot_hash[:armors].size %>
      <% slot_hash[:armors].each do |arr| %>
        <%= link_to_remote arr[0], :update => 'eq_piece_div', :position => 'after', :before => 'remove_non_header_rows(\'eq_piece_table\')', :url => { :action => 'fetch_by_slot', :slot => arr[1] } %>
        <% @counter = @counter + 1 %>
        <% if @counter < @size %>
          |
        <% end %>
      <% end %>
      <hr>
      Weapons:<br>
      <% @counter = 0 %>
      <% @size = slot_hash[:weapons].size %>
      <% slot_hash[:weapons].each do |arr| %>
        <%= link_to_remote arr[0], :update => 'eq_piece_div', :position => 'after', :before => 'remove_non_header_rows(\'eq_piece_table\')', :url => { :action => 'fetch_by_slot', :slot => arr[1] } %>
        <% @counter = @counter + 1 %>
        <% if @counter < @size %>
          |
        <% end %>
      <% end %>
      <hr>

      <% if logged_in? %>
        Admin:<br>
        <% slot_hash[:admin].each do |arr| %>
          <%= link_to_remote arr[0], :update => 'eq_piece_div', :position => 'after', :before => 'remove_non_header_rows(\'eq_piece_table\')', :url => { :action => 'fetch_by_slot', :slot => arr[1] } %>
        <% end %>
        <hr>
      <% end %>
    </td>
    <td width="50%" style="vertical-align:top;">
      <hr>
      Filters:
      <%= link_to_remote '(New)', :update => 'filter_div', :position => 'after', :url => { :action => 'create_filter'} %><br>
      <% if session[:filters] %>
        <% session[:filters].each_pair do |k,v| %>
          <%= k.to_s %> - <%= v.to_s %>
        <% end %>
      <% end %>
      <div id="filter_div"></div>
      <hr>
    </td>
  </tr>
</table>

<hr>
<table width=99%>
<tr><th width=80>Search:</th><td><%= text_field_with_auto_complete :equipment_piece, :name, { :class => 'typeahead_edit' }, { :url => formatted_equipment_pieces_path(:js), :method => :get, :param_name => 'search', :skip_style => TRUE } %></td></tr>
</table>
<hr>

<%= render :partial => 'equipment_pieces/header' %>
<%= render :partial => 'equipment_pieces/footer' %>
