<%=h @stat.name %> (<%=h @stat.abbreviation %>)

<h2>Equipment Pieces:</h2>
<%= render :partial => 'equipment_pieces/header' %>
  <% for mod in @pieces %>
    <% piece = EquipmentPiece.find_by_id(mod.equipment_piece_id) %>
    <%= render :partial => 'equipment_pieces/view', :object => piece %>
  <% end %>
<%= render :partial => 'equipment_pieces/footer' %>

