<% form_for(modify) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :walkthrough %><br>
    <%= f.text_area :walkthrough %>
  </p>

  <p>
    <%= f.submit "Done" %>
  </p>

<% end %>
