<br>
<br>
<ul>
  <% for mob in @equipment_monsters %>
  <li class="<%= cycle("even", "odd") -%>">
    <%= link_to mob.name, mob %> <%= link_to('(E)', edit_equipment_monster_path(mob)) if logged_in? %> <%= link_to('(X)', mob, :confirm => 'Are you sure?', :method => :delete) if logged_in? %>
  </li>
  <% end %>
</ul>

<br>

<%= link_to ('New', new_equipment_monster_path) if logged_in? %>
