<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'application' %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %> : <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'iomdb' %>
</head>
<body>

<p style="color: #99E72F"><%= flash[:notice] %></p>

<table id="toolbar" class="toolbar">
  <tr>
    <td><%= link_to 'Home', pages_path %></td>
    <td>|</td>
    <td><%= link_to 'Eq Pieces', equipment_pieces_path %></td>
    <td>|</td>
    <td><%= link_to 'Eq Mobs', equipment_monsters_path %></td>
    <td>|</td>
    <td><%= link_to 'Guilds', guilds_path %></td>
    <td>|</td>
    <td><%= link_to 'Races', races_path %></td>
    <td>|</td>
<% if logged_in? %>
    <td><%= link_to 'Logout', :controller => 'admin_user', :action => 'logout' %></td>
<% else %>
    <td><%= link_to 'Login', :controller => 'admin_user', :action => 'login' %></td>
<% end %>
  </tr>
</table>

<%= yield %>

</body>
</html>
